<!DOCTYPE html>
<html>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script>
    var states = [];
    {% for state in states %}
        var current = [];
        {% for each in state %}
            current.push({{ each }});
        {% endfor %}
        states.push(current);
    {% endfor %}
    window.states = states;
    window.current_state = 0;

</script>
<script src="../static/rps.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="ui button" id = "play" onclick = "play()">
  Play
</div>
<div class="ui grid form">
    {% for i in (states[0]) %}
        <img class="ui medium image wide column" id="img{{ loop.index - 1}}">
    {% endfor %}
</div>
</body>
</html>